

.container{
    display: flex;
}

.page {
    background-color: lightgray;
}

.col-md-9 {
    background-color: white;
}
.col-md-3 {
    background-color: brown;
}
.text{
    font-size: medium
}

.img-thumbnail {
    max-height: 250px;
    max-width: 250px;
    margin: 30px 30px 30px 30px;
}
